<div ng-controller="ajoutCommandeController" class="divControlleur">
	<div class="container">
        
        <div class="modal" id="myModal">
            <div class="modal-content">
                <div class="divheaderModal">
                    <h3>Message</h3>
                </div>
                <div class="diveBodyModal">
                    <h4>{{messageModale}}</h4>
                </div>
                <div class="divfooterModal">
                    <button class="boutonCloseModal" ng-click="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
	<div class="container divContainer">
		<div style="width: 100%;height: auto;border: 2px solid black;border-radius: 20px;background-color: transparent;margin-bottom: 1%;">
			<div><h1 style="text-align: center;">Ajouter une nouvelle commande</h1></div>
			<div class="form-group" style="padding-left: 5%;padding-right: 5%;">
				<label for="exampleInputEmail1">Numero table</label>
                <select ng-model="numeroTable" class="form-control">
                    <option ng-repeat="tablesRestaurants in tablesRestaurant" value="{{tablesRestaurants.idTablesRestaurant}}" >{{tablesRestaurants.numeroTables}}</option>
                </select>
			</div>		
			<div style="margin: 0 auto 10px;padding-left: 5%;padding-right: 5%;" class="well">
				<button class="btn btn-primary btn-lg btn-block" ng-click="ajouterCommande()" type="button" style="width:100% ">Ajouter</button>
			</div>
		</div>
        <div style="width: 100%; height: 410px;background-color: transparent; border: 2px solid black;border-radius: 20px;overflow-y: auto;">
            <h4 style="text-align: center;">Liste des commandes</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><input type="text" placeholder="Votre numero de commande" ></th>
                        <th><input type="text" placeholder="Nom utilisateur" ></th>
                        <th><input type="text" placeholder="Table numero :N° " ></th>
                        <th><input type="text" placeholder="Date" ></th>
                    </tr>
                    <tr>
                        <th>Numero du commande</th>
                        <th>Utilisateur</th>
                        <th>Table N°</th>
                        <th>Date</th>
                        <th>Fermer la commande</th>
                        <th>Détail</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="commandes in commande">
                        <td>{{commandes.numeroCommande}}</td>
                        <td>{{commandes.idUtilisateur}}</td>
                        <td>{{commandes.idTablesRestaurant}}</td>
                        <td>{{commandes.dateCommande}}</td>
                        <td><button type="button" class="btn btn-lg btn-success" ng-click="facturerEtFemer(commandes.numeroCommande)" >Fermé et facturé</button></td>
                        <td><button type="button" class="btn btn-lg btn-success" ng-click="detail(commandes.idCommande)" >Détail</button></td>
                    </tr>
                </tbody>
            </table>
		</div>
    </div>
</div>