<div ng-controller="ajoutPlatsDuJourController" class="divControlleur">
	<div class="container">
        
        <div class="modal" id="myModal">
            <div class="modal-content">
                <div class="divheaderModal">
                    <h3>Message</h3>
                </div>
                <div class="diveBodyModal">
                    <h4>{{messageModale}}</h4>
                </div>
                <div class="divfooterModal">
                    <button class="boutonCloseModal" ng-click="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container divContainer">
        <div class="row" style="width: 100%; height: 300px; border: 2px solid black;border-radius: 8px;">
            <div class="col-md-6">
            	<h1 style="text-align: center;">Ajout plats du jours</h1>
                <div style="margin-top: 2%;">
                    <label>Selectionner votre plats </label>
                    <select class="form-control" ng-model="produitObject">
                        <option ng-repeat="produit in produits" ng-click="selectionProduit(produit)" value="{{produit}}" >{{produit.nomProduit}}</option>
                    </select>
                </div>
                <div style="margin-top: 3%;font-size: 25px;">
                    <p>Nom : {{nomProduit}} </p>
                    <p>Categorie : {{categrorie}}</p>
                    <p>Prix : {{ prixProduit | currency : " "}} Ariary</p>
                </div>
                <div>
                	<button ng-click="insertionPlatsDuJours()" style="width: 100%;height: 40px;color:white;font-size:20px ;background-color: #2d6ca2;border: 2px solid #428bca;" >Ajout comme plats du jours</button>
                </div>
            </div>
            <div class="col-md-6">
                <img src="../assets/images/img/{{nomImage}}" onerror="src='../assets/images/img/default.jpg'" style="width: 100%;height: 280px;margin-top: 1%;border-radius: 8px;" >
            </div>
        </div>
        <div class="row" style="border: 2px solid black;width: 100%;height: 400px;border-radius: 20px;padding-top: 1%;overflow-y: scroll;">
            <table class="table table-striped table-hover table-radius">
                <thead>
                    <tr>
                        <th><input type="text" placeholder="Commande" ></th>
                        <th><input type="text" placeholder="Montant total" ></th>
                        <th><input type="text" placeholder="Payé ou non payé" ></th>
                        <th><input type="text" placeholder="Dates de payement" ></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr style="cursor: pointer;">
                        <th>Image</th>
                        <th>Nom</th>
                        <th>Utilisateur</th>
                        <th>Prix</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="platsDuJour in platsDuJours">
                        <td><img src="../assets/images/img/{{platsDuJour.descriptions}}" style="width: 50px;height: 50px;" /></td> 
                        <td>{{platsDuJour.idProduit}}</td>   
                        <td>{{platsDuJour.idUtilisateur}}</td>   
                        <td>{{platsDuJour.prixUnitaire  | currency : " "}} Ariary</td>   
                        <td><button ng-click="suppressionPlatsDuJour(platsDuJour.idPlatsDuJour)" type="button" class="btn btn-lg btn-danger" style="font-size: 25px;"><span class="zmdi zmdi-delete"></span></button></td>   
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>