<div ng-controller="ajoutPlatsController" class="divControlleur">
	<div class="container">
        
        <div class="modal" id="myModal">
            <div class="modal-content">
                <div class="divheaderModal">
                    <h3>Message</h3>
                </div>
                <div class="diveBodyModal">
                    <h4>{{messageModale}}</h4>
                </div>
                <div class="divfooterModal">
                    <button class="boutonCloseModal" ng-click="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
	<div class="container divContainer">
		<h1 style="text-align: center;">Ajout plats</h1>
		<form action="insertionProduits" method="post" enctype="multipart/form-data">
			<div class="form-group">
				<label for="exampleInputEmail1">Catégorie</label>
				<select class="form-control" name="categorie">
                    <option ng-repeat="categories in categorie" value="{{categories.idCategorie}}">{{categories.categorie}}</option>
                </select>
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Nom du produit</label>
				<input type="text" name="nom" class="form-control" placeholder="Nom du produit">
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Prix unitaire</label>
				<input type="number" name="prixUnitaire" class="form-control" placeholder="Prix unitaire">
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Tva</label>
				<input type="number" name="tva" class="form-control" placeholder="Tva">
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Remise</label>
				<input type="number" name="remise" class="form-control" placeholder="Remise">
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Image du produit</label>
				<input type="file" name="files" class="form-control" placeholder="Image du produit">
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">Description du produit</label>
				<textarea class="form-control" name="description" placeholder="Description du produit" rows="2"></textarea>
			</div>
			<div style="margin: 0 auto 10px;" class="well">
			    <button class="btn btn-primary btn-lg btn-block" type="submit" style="width:100% ">Ajouter</button>
			</div>
		</form>
	</div>
</div>