<div ng-controller="ajoutFactureController" class="divControlleur">
	<div class="container">
        <div class="modal" id="myModal">
            <div class="modal-content">
                <div class="divheaderModal">
                    <h3>Message</h3>
                </div>
                <div class="diveBodyModal">
                    <h4>{{messageModale}}</h4>
                </div>
                <div class="divfooterModal">
                    <button class="boutonCloseModal" ng-click="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
	<div class="container divContainer">
		<div>
			<h1 style="text-align: center;margin-bottom: 1%;">Ajout facture</h1>
		</div>
		<div style="border:2px solid black; width: 100%;height: 250px;border-radius: 12px">
			<div style="padding-left: 2%;padding-right: 2%;">
				<label>Liste des commandes</label>
				<select class="form-control" ng-model="idCommande">
                    <option ng-repeat="tousLesCommande in tousLesCommandes" ng-click="getInformationComande(tousLesCommande.idCommande)" value="{{tousLesCommande.idCommande}}">{{tousLesCommande.numeroCommande}}</option>
                </select>
			</div>
			<div class="row" style="padding-top: 2%;padding-left: 2%;padding-right: 2%;font-size: 20px;">
				<div class="col-md-6" style="text-align: left;">
					<p>Commande : {{numeroCommande}}</p>	
				</div>
				<div class="col-md-6" style="text-align: right;">
					<p>Date : {{dates}}</p>
					
				</div>
			</div>
			<div class="row" style="padding-top: 1%;padding-left: 2%;padding-right: 2%;font-size: 20px;">
				<div class="col-md-4" style="text-align: left;">
					<p>Utilisateur : {{nomUtilisateur}}</p>	
				</div>
				<div class="col-md-4" style="text-align: center;">
					<p>Montant : {{montant | currency : " "}} Ariary</p>	
				</div>
				<div class="col-md-4" style="text-align: right;">
					<p>Etat : {{etatPayer}}</p>	
				</div>
			</div>
			<div>
				<button ng-click="ajoutFacture()" style="width: 96%;height: 40px;color:white;font-size:20px ;background-color: #2d6ca2;border: 2px solid #428bca;margin-left: 2%;margin-right: 2%;border-radius: 10px;margin-top: 2%;">Facturé et imprimé</button>
			</div>
		</div>
		<div class="row" style="width: 100%;height: 400px;border:2px solid black;border-radius: 12px;overflow-y: scroll;margin-top: 2%;">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Numero facture</th>
						<th>Commande</th>
						<th>Montant total</th>
						<th>Etat</th>
						<th>Date</th>
						<th>Detail</th>
						<th>Supprimer</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="tousLesFacture in tousLesFactures">
						<td>FACT{{tousLesFacture.idFacture}}</td>
						<td>{{tousLesFacture.idCommande}}</td>
						<td>{{tousLesFacture.montantTotal | currency : " "}} Ariary</td>
						<td>
							<span ng-if="tousLesFacture.etatPayement==1">Non payé</span>
							<span ng-if="tousLesFacture.etatPayement==11">Payé</span>
						</td>
						<td>{{tousLesFacture.dateFacturePayement}}</td>
						<td><button type="button" ng-click="detailFacture(tousLesFacture.idCommande,tousLesFacture.etatPayement)" class="btn btn-lg btn-info" style="color:white;">Voir</button></td>					    
					    <td><button type="button" ng-click="supprimerFacture(tousLesFacture.idFacture)" class="btn btn-lg btn-danger" style="font-size: 25px;"><span class="zmdi zmdi-delete"></span></button></td>   
                    </tr>
				</tbody>
			</table>
		</div>
	</div>
</div>