<div ng-controller="ajoutCategorieController" class="divControlleur">
	<div class="container">
        <div class="modal" id="myModal">
            <div class="modal-content">
                <div class="divheaderModal">
                    <h3>Message</h3>
                </div>
                <div class="diveBodyModal">
                    <h4>{{messageModale}}</h4>
                </div>
                <div class="divfooterModal">
                    <button class="boutonCloseModal" ng-click="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
	<div class="container divContainer">
		<div style="width: 90%;height: auto; border: 2px solid cornsilk; border-radius: 20px; background-color: transparent; margin: 10% auto;">
			<div><h1 style="text-align: center;">Ajouter une categorie</h1></div>
			<div class="form-group">
				<label for="exampleInputEmail1">Catégorie</label>
				<input type="text" ng-model="categorie" class="form-control" placeholder="Catégorie">
			</div>		
			<div style="margin: 0 auto 10px;" class="well">
				<button class="btn btn-primary btn-lg btn-block" ng-click="ajouterCategorie()" type="button" style="width:100% ">Ajouter</button>
			</div>
		</div>
	</div>
</div>