<style>
input{
	width: 100%;
	height: 40px;
	padding-left: 2%;
	border-radius: 12px;
	border: 2px solid #a3a4a4;
}
</style>
<div ng-controller="commandeController" class="divControlleur">
	<div class="container">
        
        <div class="modal" id="myModal">
            <div class="modal-content">
                <div class="divheaderModal">
                    <h3>Message</h3>
                </div>
                <div class="diveBodyModal">
                    <h4>{{messageModale}}</h4>
                </div>
                <div class="divfooterModal">
                    <button class="boutonCloseModal" ng-click="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
	<div class="container divContainer">
		<h1 style="text-align: center;">Commande</h1>
		<div class="row" style="margin-bottom: 1%;">
			<div class="col-md-1">
				<p>Choix :</p>
			</div>
			<div class="col-md-11">
				<select style="width: 100%;height: 30px;">
					<option ng-repeat="choixTemporaire in choix" ng-click="selectionChoix(choixTemporaire.valeur)">{{choixTemporaire.text}}</option>
				</select>
			</div>
		</div>
		<div class="row divrow">	
			<table class="table table-striped table-hover table-radius" datatable="ng" dt-options="vm.dtOptions">
			    <thead>
			    	<tr>
			    		<th><input type="text" ng-model="recherches.numeroCommande" placeholder="Commande" ></th>
			    		<th><input type="text" ng-model="recherches.etatUtilisateur" placeholder="Nom utilisateur" ></th>
			    		<th><input type="text" ng-model="recherches.numeroTables" placeholder="Table" ></th>
			    		<th><input type="text" ng-model="recherches.dateCommande" placeholder="Dates" ></th>
			    		<th></th>
			    		<th></th>
			    		<th></th>
			    		<th></th>
			    	</tr>
			        <tr>
			            <th>Commande</th>
			            <th>Nom utilisateur</th>
			            <th>Table</th>
			            <th>Dates</th>
			            <th>Valider</th>
			            <th>Detail</th>
			            <th>Modifier</th>
			            <th>Supprimer</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr ng-repeat="commandes in commande | filter:recherches ">
			            <td>{{commandes.numeroCommande}}</td>
			            <td>{{commandes.etatUtilisateur}}</td>
			            <td>{{commandes.numeroTables}}</td>
			            <td>{{commandes.dateCommande}}</td>
			            <td>
			            	<span ng-if="commandes.etatCommande == 1 && commandes.fermetureCommande == 11">
			            		<button type="button" class="btn btn-lg btn-success" ng-click="redirectionFacture(commandes.idCommande)" style="font-size: 25px;"><span class="zmdi zmdi-check"></span></button>
			            	</span>
			            	<span ng-if="commandes.etatCommande == 11 && commandes.fermetureCommande == 11">
			            		<button type="button" class="btn btn-lg btn-success" disabled="true" style="font-size: 25px;"><span class="zmdi zmdi-check-all"></span></button>
			            	</span>
			            	</span>
			            	<span ng-if="commandes.etatCommande == 22">
			            		<button type="button" class="btn btn-lg btn-success" disabled="true" style="font-size: 25px;"><span class="zmdi zmdi-check-all"></span></button>
			            	</span>
			            	<span ng-if="commandes.fermetureCommande == 1">
			            		<button type="button" class="btn btn-lg btn-success" disabled="true" style="font-size: 25px;background-color: black;color:white;"><span class="zmdi zmdi-check"></span></button>
			            	</span>
			            </td>
			            <td><button type="button" ng-click="redirectionDetailCommande(commandes.idCommande)" class="btn btn-lg btn-purple" style="background-color: #5a357f;font-size: 25px;color: white; border: 2px solid #7947aa"><span class="zmdi zmdi-eye"></span></button></td>
			            <td>
							<span ng-if="commandes.etatCommande == 11 && commandes.fermetureCommande == 11">
								<button type="button" class="btn btn-lg btn-warning" disabled="true" style="color: white;font-size: 25px;"><span class="zmdi zmdi-edit"></span></button>
							</span>
							<span ng-if="commandes.etatCommande == 22">
								<button type="button" class="btn btn-lg btn-warning" disabled="true" style="color: white;font-size: 25px;"><span class="zmdi zmdi-edit"></span></button>
							</span>
							<span ng-if="commandes.etatCommande == 1 && commandes.fermetureCommande == 11">
			            		<button type="button" ng-click="modifierCommande(commandes.idCommande)" class="btn btn-lg btn-warning" style="color: white;font-size: 25px;"><span class="zmdi zmdi-edit"></span></button>
			            	</span>
			            	<span ng-if="commandes.fermetureCommande == 1">
			            		<button type="button" ng-click="modifierCommande(commandes.idCommande)" class="btn btn-lg btn-warning" style="color: white;font-size: 25px;"><span class="zmdi zmdi-edit"></span></button>
			            	</span>								
						</td>
			            <td><button type="button" ng-click="deleteCommande(commandes.idCommande)" class="btn btn-lg btn-danger" style="font-size: 25px;"><span class="zmdi zmdi-delete"></span></button></td>
			        </tr>
			    </tbody>
			</table>
		</div>
	</div>
</div>
