<div ng-controller="detailCommandeController" class="divControlleur">
	<div class="container">
        
        <div class="modal" id="myModal">
            <div class="modal-content">
                <div class="divheaderModal">
                    <h3>Message</h3>
                </div>
                <div class="diveBodyModal">
                    <h4>{{messageModale}}</h4>
                </div>
                <div class="divfooterModal">
                    <button class="boutonCloseModal" ng-click="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
	<div class="container divContainer" >
		<div>
			<h1 style="text-align: center;">Liste des plats commandés</h1>
		</div>
		<div class="row" style="font-size: 20px;">
			<div class="col-md-6" style="text-align: left;">Numero : {{commande}}</div>
			<div class="col-md-6" style="text-align: right;">Etat : 
				<span ng-if="etat==1">Non validé</span>
				<span ng-if="etat==11">En cours de preparation</span>
				<span ng-if="etat==22">Payé</span>
			</div>
		</div>
		<div class="row divrow">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Image</th>
						<th>Utilisateur</th>
						<th>Table</th>
						<th>Produits</th>
						<th>Quantite</th>
						<th>Prix unitaire</th>
						<th>Total</th>
						<th>Dates</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="commandeParTables in commandeParTable">
						<td> <img src="../assets/images/img/{{commandeParTables.nomImage}}" style="width: 50px;height: 50px;" /></td>
						<td>{{commandeParTables.nomUtilisateur}}</td>
						<td>{{commandeParTables.numeroTables}}</td>
						<td>{{commandeParTables.nomProduit}}</td>
						<td>{{commandeParTables.nombreDeProduit}}</td>
						<td>{{commandeParTables.prixUnitaire | currency : " "}} Ariary</td>
						<td>{{commandeParTables.prixUnitaire * commandeParTables.nombreDeProduit | currency : " "}} Ariary</td>
						<td>{{commandeParTables.dateCommande}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="pull-right">
			<h3>Prix total : {{prixTotal | currency : " "}} Ariary</h3>
		</div>
	</div>
</div>