<!DOCTYPE html>
<html>
<head>
	<title>Restaurant</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../assets/css/loginutil.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/loginmain.css">
</head>
<body ng-app="login">
	<div class="container-login100" style="background-image: url('../assets/images/bg-01.jpg');" ng-controller="loginController">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
			<form class="login100-form validate-form">
				<span class="login100-form-title p-b-37">
					Login
				</span>

				<div class="wrap-input100 validate-input m-b-20" data-validate="Enter username or email">
					<input class="input100" type="text" ng-model="nom" placeholder="Nom d'utilisation">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
					<input class="input100" type="password" ng-model="motDePasse" placeholder="Mot de passe">
					<span class="focus-input100"></span>
				</div>
				
				<div  ng-if="affichageErreur==true">
				  	<p style="margin-bottom: 2%;text-align: center;color: #ab5250;"><strong>Erreur !</strong> {{messageModale}}</p>
				</div>
				
				<div class="container-login100-form-btn">
					<button class="login100-form-btn" ng-click="login()">Sign in</button></a>
                </div>

				<div class="text-center p-t-57 p-b-20">
					<span class="txt1">
						<a href="motDePasseOublier">Mot de passe oublie</a>
					</span>
				</div>
				<div class="text-center">
					<a href="inscription" class="txt2 hov1">Inscription</a>
				</div>
			</form>
		</div>
	</div>
	<script src="../assets/js/angular.min.js"></script>
	<script src="../frontOffice/login.js"></script>
</body>
</html>