<!DOCTYPE html>
<html>
<head>
	<title>Restaurant</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/loginutil.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/loginmain.css">
</head>
<body  ng-app="inscription">
	<div class="container-login100" style="background-image: url('assets/images/bg-01.jpg');" ng-controller="inscriptionController">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
			<form class="login100-form validate-form">
				<span class="login100-form-title p-b-37">
					Inscription
				</span>

				<div class="wrap-input100 validate-input m-b-20" data-validate="Enter username or email">
					<input class="input100" type="text" ng-model="nom" placeholder="Nom d'utilisation">
					<span class="focus-input100"></span>
				</div>
                
                <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
                    <select class="form-control input100" ng-model="etatUtilisateur">
                        <option value="2" >Caissier</option>
                        <option value="1">Serveur ou Serveuse</option>
                    </select>
                    <span class="focus-input100"></span>
				</div>
                
				<div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
					<input class="input100" type="password" ng-model="motDePasse" oninput="verificationPassword()" placeholder="Mot de passe" id="password" >
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
                    <input class="input100" type="password" ng-model="confirmation" oninput="confirmationPassword()" id="confirmation" placeholder="Confirmation mot de passe">
					<span class="focus-input100"></span>
				</div>
				<p style="text-align: center;font-size: 12px;" id="textValidation">Le mot de passe doit comporté aux moins une lettre minuscule,majuscule,chiffre et une caractére spéciaux</p>
				<p id="textConfirmation" style="text-align: center;font-size: 12px;"></p>
				
				<div  ng-if="affichageErreur==true">
				  	<p style="margin-bottom: 2%;text-align: center;color: #ab5250;" ng-if="affichageSuccess==false"><strong>Erreur !</strong> {{messageModale}}</p>
				  	<p style="margin-bottom: 2%;text-align: center;color: #3c763d;" ng-if="affichageSuccess==true"><strong>{{messageModale}}</strong></p>
				</div>
				
				<div class="container-login100-form-btn" style="margin-top: 1%;">
					<button class="login100-form-btn" id="bouton" disabled="true" ng-click="inscription()" >S'inscrir</button>
				</div>
				<p style="text-align: center;margin-top: 5%;"><a href="/" style="font-size: 20px;">Redirection login</a></p>
			</form>
		</div>
	</div>
	<script src="../assets/js/angular.min.js"></script>
	<script src="../frontOffice/inscription.js"></script>
</body>
</html>