<style>
input{
	width: 100%;
	height: 40px;
	padding-left: 2%;
	border-radius: 12px;
	border: 2px solid #a3a4a4;
}
</style>
<div ng-controller="insuffisantController" class="divControlleur">
	<div class="container">
        
        <div class="modal" id="myModal">
            <div class="modal-content">
                <div class="divheaderModal">
                    <h3>Message</h3>
                </div>
                <div class="diveBodyModal">
                    <h4>{{messageModale}}</h4>
                </div>
                <div class="divfooterModal">
                    <button class="boutonCloseModal" ng-click="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
	<div class="container divContainer">
		<h1 style="text-align: center;">Liste des commandes insuffisants</h1>
		<div class="row divrow">
			<table class="table table-striped" datatable="ng" dt-options="vm.dtOptions">
				<thead>
					<tr>
						<th><input type="text" ng-model="recherche.numeroCommande" placeholder="Numero commande" /></th>
						<th><input type="text" ng-model="recherche.nombreDeProduit" placeholder="Nombre de plats insuffisant" /></th>
						<th><input type="text" ng-model="recherche.dateFacturePayement" placeholder="Date" /></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<th>Commande</th>
						<th>Plats insuffisants</th>
						<th>Date</th>
						<th>Voir et modifier</th>
						<th>Supprimer</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="insuffisant in insuffisants | filter:recherche">
						<td>{{insuffisant.numeroCommande}}</td>
						<td>{{insuffisant.nombreDeProduit}}</td>
						<td>{{insuffisant.dateInsuffisant}}</td>
						<td><button type="button" ng-click="modification(insuffisant)" class="btn btn-lg btn-warning" style="color:white;">Modifier</button></td>
					    <td><button type="button" ng-click="supprimerCommandeTable(insuffisant.idCommande,insuffisant.idInsuffisant)" class="btn btn-lg btn-danger" style="font-size: 25px;"><span class="zmdi zmdi-delete"></span></button></td>   
                    </tr>
				</tbody>
			</table>
		</div>
	</div>
</div>