<style>
input{
	width: 100%;
	height: 40px;
	padding-left: 2%;
	border-radius: 12px;
	border: 2px solid #a3a4a4;
}
</style>
<div ng-controller="listePayementController" class="divControlleur">
	<div class="container">
        
        <div class="modal" id="myModal">
            <div class="modal-content">
                <div class="divheaderModal">
                    <h3>Message</h3>
                </div>
                <div class="diveBodyModal">
                    <h4>{{messageModale}}</h4>
                </div>
                <div class="divfooterModal">
                    <button class="boutonCloseModal" ng-click="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
	<div class="container divContainer">
        <div>
            <h2 style="text-align: center;" >Liste des payements</h2>
        </div>
        <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
            <div class="col-md-12">
                <select style="width: 100%;height: 40px;border-radius: 8px;">
                    <option value="mespayement" >Mes payements</option>
                    <option value="mespayement" >Payements validés</option>
                    <option value="mespayement" >Payements non validés</option>
                    <option value="mespayement" >Tous les payements</option>
                </select>
            </div>
        </div>
        <div class="row divrow">
            <table class="table table-striped table-hover table-radius" datatable="ng" dt-options="vm.dtOptions">
                <thead>
                    <tr>
                        <th><input type="text" ng-model="recherche.idCommande" placeholder="Commande" ></th>
                        <th><input type="text" ng-model="recherche.montantTotal" placeholder="Montant total" ></th>
                        <th><input type="text" ng-model="recherche.etatPayement" placeholder="Payé ou non payé" ></th>
                        <th><input type="text" ng-model="recherche.datePayement" placeholder="Dates de payement" ></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>Commande</th>
                        <th>Montant total</th>
                        <th>Etat</th>
                        <th>Dates de payement</th>
                        <th>Detail</th>
                        <th>Annuler le payement</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="payement in payements | filter:recherche ">
                        <td>{{payement.idCommande}}</td>
                        <td>{{payement.montantTotal | currency : " "}} Ariary</td>
                        <td>
                            <span ng-if="payement.etatPayement==1">
                                Non payé
                            </span>
                            <span ng-if="payement.etatPayement>1">
                                Payé
                            </span>
                        </td>
                        <td>{{payement.datePayement}}</td>
                        <td><button type="button" ng-click="voirDetail(payement.idPayement)" class="btn btn-lg btn-info" style="color:white;">Voir</button></td>
                        <td><button type="button" ng-click="annulation(payement.idPayement)" class="btn btn-lg btn-warning" style="color:white;">Annuler</button></td>
                        <td><button type="button" ng-click="suppression(payement.idPayement)" class="btn btn-lg btn-danger" style="font-size: 25px;"><span class="zmdi zmdi-delete"></span></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>