<style>
input{
	width: 100%;
	height: 40px;
	padding-left: 2%;
	border-radius: 12px;
	border: 2px solid #a3a4a4;
}
</style>
<div ng-controller="listeFactureController" class="divControlleur">
	<div class="container">
        
        <div class="modal" id="myModal">
            <div class="modal-content">
                <div class="divheaderModal">
                    <h3>Message</h3>
                </div>
                <div class="diveBodyModal">
                    <h4>{{messageModale}}</h4>
                </div>
                <div class="divfooterModal">
                    <button class="boutonCloseModal" ng-click="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
	<div class="container divContainer">
		<h1 style="text-align: center;">Facture</h1>
		<div class="row divrow">
			<table class="table table-striped" datatable="ng" dt-options="vm.dtOptions">
				<thead>
					<tr>
						<th><input type="text" ng-model="recherche.idFacture" placeholder="Numero facture" /></th>
						<th><input type="text" ng-model="recherche.idCommande" placeholder="Commande" /></th>
						<th><input type="text" ng-model="recherche.montantTotal" placeholder="Montant total" /></th>
						<th><input type="text" ng-model="recherche.etatPayement" placeholder="Etat" /></th>
						<th><input type="text" ng-model="recherche.dateFacturePayement" placeholder="Date" /></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<th>Numero facture</th>
						<th>Commande</th>
						<th>Montant total</th>
						<th>Etat</th>
						<th>Date</th>
						<th>Detail</th>
						<th>Supprimer</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="tousLesFacture in tousLesFactures | filter:recherche">
						<td>FACT{{tousLesFacture.idFacture}}</td>
						<td>{{tousLesFacture.idCommande}}</td>
						<td>{{tousLesFacture.montantTotal}}</td>
						<td>
							<span ng-if="tousLesFacture.etatPayement==1">Non payé</span>
							<span ng-if="tousLesFacture.etatPayement==11">Payé</span>
						</td>
						<td>{{tousLesFacture.dateFacturePayement}}</td>
						<td><button type="button" ng-click="detailFacture(tousLesFacture.idCommande,tousLesFacture.etatPayement)" class="btn btn-lg btn-info" style="color:white;">Voir</button></td>
					    <td><button type="button" ng-click="supprimerFacture(tousLesFacture.idFacture)" class="btn btn-lg btn-danger" style="font-size: 25px;"><span class="zmdi zmdi-delete"></span></button></td>   
                    </tr>
				</tbody>
			</table>
		</div>
	</div>
</div>