<div ng-controller="headController"></div>

<div ng-controller="modificationCommandeController" class="divControlleur">
	<div class="container">
        
        <div class="modal" id="myModal">
            <div class="modal-content">
                <div class="divheaderModal">
                    <h3>Message</h3>
                </div>
                <div class="diveBodyModal">
                    <h4>{{messageModale}}</h4>
                </div>
                <div class="divfooterModal">
                    <button class="boutonCloseModal" ng-click="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container divContainer">
        <h1 style="text-align: center;">Modification des plats commandés</h1>
        <div class="row" style="margin-bottom: 1%;">
        	<div class="col-md-3" style="text-align: left;">Numero :{{commande}}</div>
        	<div class="col-md-3">Utilisateur :{{utilisateur}}</div>
        	<div class="col-md-3">Table N°{{numeroTable}}</div>
        	<div class="col-md-3" style="text-align: right;">{{dateCommande}}</div>
        </div>
        <div class="row divrow">
	        <table class="table table-striped">
	            <thead>
	                <tr>
	                    <th>Image</th>
	                    <th>Produits</th>
	                    <th>Quantite</th>
	                    <th>Modifier quantite</th>
	                    <th>Prix unitaire</th>
	                    <th>Total</th>
	                    <th>Rafraichir</th>
	                    <th>Modifier</th>
	                    <th>Supprimer</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr ng-repeat="commandeParTables in commandeParTable">
	                    <td> <img src="../assets/images/img/{{commandeParTables.nomImage}}" style="width: 50px;height: 50px;" /></td>
	                    <td>{{commandeParTables.nomProduit}}</td>
	                    <td>{{commandeParTables.nombreDeProduit}}</td>
	                    <td>
	                    	<select style="width: 100%;" id="quantite{{commandeParTables.idProduit}}">
								<option ng-repeat="x in [].constructor(commandeParTables.quantite) track by $index " ng-click="changeTotalMontant(commandeParTables)" value="{{$index +1}}">{{$index +1}}</option>
							</select>
	             		</td>
	                    <td>{{commandeParTables.prixUnitaire | currency : " "}} Ariary</td>
	                    <td><span id="montant{{commandeParTables.idProduit}}">{{commandeParTables.prixUnitaire * commandeParTables.nombreDeProduit | currency : " "}} Ariary</span></td>
	                    <td><button type="button" class="btn btn-lg btn-info" ng-click="rafraichier(commandeParTables,commandeParTables.idProduit)">Actualiser</button></td>
	                    <td><button type="button" class="btn btn-lg btn-warning" ng-click="modifier(commandeParTables)">Modifier</button></td>
	                    <td><button type="button" class="btn btn-lg btn-danger" ng-click="supprimer(commandeParTables)" style="font-size: 25px;"><span class="zmdi zmdi-delete"></span></button></td>
	                </tr>
	            </tbody>
	        </table>
        </div>	
        <div style="text-align: right;">
        	<h3 >Prix total :{{total | currency : " "}} Ariary</h3>
        </div>
    </div>
</div>