<style>
.boutonWarning {
	width: 100%;
	height: 40px;
	font-size: 20px;
	background: transparent;
	border: 2px solid #eea236;
	color: black;
	border-radius: 20px;
	transition: 0.5s;
}
.boutonWarning:hover {
	font-size: 19px;
	background: #f0ad4e;
	border: 2px solid #eea236;
	color: white;
}
.bouton {
	width: 100%;
	height: 40px;
	font-size: 20px;
	background: transparent;
	border: 2px solid #106cba;
	color: black;
	border-radius: 20px;
	transition: 0.5s;
}
.bouton:hover {
	font-size: 19px;
	background: #106cba;
	border: 2px solid #106cba;
	color: white;
}
.divModification {
	border: 2px solid black;
	margin-top: 2%;
	padding: 1%;
	border-radius: 12px;
}
.divInfo {
	border: 2px solid black;
	margin-bottom: 2%;
	padding: 1%;
	border-radius: 12px;
	font-size: 18px;
}
</style>
<div ng-controller="moncompteController" class="divControlleur">
		<div class="container">
	        
	        <div class="modal" id="myModal">
	            <div class="modal-content">
	                <div class="divheaderModal">
	                    <h3>Message</h3>
	                </div>
	                <div class="diveBodyModal">
	                    <h4>{{messageModale}}</h4>
	                </div>
	                <div class="divfooterModal">
	                    <button class="boutonCloseModal" ng-click="closeModal()">Close</button>
	                </div>
	            </div>
	        </div>
	    </div>
		<div class="container divContainer">
			<div class="divInfo">
				<p>Nom : {{information.nom}}</p>
				<p>Etat : 
					<span ng-if="information.etat==1">Serveur ou serveuse</span>
					<span ng-if="information.etat==2">Caissier ou caissiére</span>
					<span ng-if="information.etat==3">Administrateur</span>
				</p>
				<p>Mot de passe : {{information.motDePasse}}</p>
				<p>Date d'ajout  : {{information.date}}</p>
			</div>
			<button ng-click="boutonModifier()" class="boutonWarning">{{labelle}}</button>
			<div ng-if="boutonModification==true" class="divModification">
				<div>
					<div class="form-group has-success has-feedback">
		                <label class="control-label" for="inputSuccess">Nom</label>
		                <div class="row">
		                	<div class="col-md-6">
		               			<input type="text" id="nomUtilisateur" class="form-control" placeholder="Votre nom" value="{{information.nom}}">
		                	</div>
		                	<div class="col-md-1">
		                		<label class="checkbox-inline">
					                <input type="checkbox" id="checkName" ng-click="check()"> 
					            </label>
		                	</div>
		                	<div class="col-md-4">
		                		Uniquement le nom
		                	</div>
		                </div>
		            </div>
		            <div class="form-group has-success has-feedback">
		                <label class="control-label" for="inputSuccess">Mot de passe</label>
		                <input type="password" class="form-control" id="motDePasseActuel" placeholder="Votre mot de passe actuelle" >
		            </div>
		            <div class="form-group has-success has-feedback">
		                <label class="control-label" for="inputSuccess">Nouveau mot de passe</label>
		                <input type="password" class="form-control" oninput="verificationPassword()" id="password"  placeholder="Votre mot de passe">
		            </div>
		            <div class="form-group has-success has-feedback">
		                <label class="control-label" for="inputSuccess">Confirmation mot de passe</label>
		                <input type="password" class="form-control" oninput="confirmationPassword()" id="confirmation" placeholder="Confirmation mot de passe">
		            </div>
		            <div>
		            	<label style="text-align: center;font-size: 15px;" id="textValidation">Le mot de passe doit comporté aux moins une lettre minuscule,majuscule,chiffre et une caractére spéciaux</label>
						<label id="textConfirmation" style="text-align: center;font-size: 15px;"></label>
		            </div>
		            <div>
		            	<button class="bouton" id="bouton" ng-click='modificationInformation()' disabled="true">Modifier</button>
		            </div>
				</div>
			</div>
		</div>
</div>