<!DOCTYPE html>
<html>
<head>
	<title>Restaurant</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../assets/css/loginutil.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/loginmain.css">
</head>
<body ng-app="motDePasseOublier">
	<div class="container-login100" style="background-image: url('../assets/images/bg-01.jpg');" ng-controller="motDePasseOublierController">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
			<form class="login100-form validate-form">
				<span class="login100-form-title p-b-37">
					Login
				</span>

				<div class="wrap-input100 validate-input m-b-20" data-validate="Enter username or email">
					<input class="input100" type="text" ng-model="nom" placeholder="Nom d'utilisation">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
					<p style="text-align: left;margin-left: 9%;">Date d'ajout</p>
					<input class="input100" type="date" ng-model="dateAjout" id="dateAjout">
					<span class="focus-input100"></span>
				</div>
				
				<div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
					<input class="input100" type="password" ng-model="motDePasse" oninput="verificationPassword()" id="password" placeholder="Nouveau mot de passe">
					<span class="focus-input100"></span>
				</div>
				
				<div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
					<input class="input100" type="password" ng-model="confirmation" oninput="confirmationPassword()" id="confirmation" placeholder="Confirmation mot de passe">
					<span class="focus-input100"></span>
				</div>
				<label style="text-align: center;font-size: 10px;" id="textValidation">Le mot de passe doit comporté aux moins une lettre minuscule,majuscule,chiffre et une caractére spéciaux</label>
				<label id="textConfirmation" style="font-size: 10px; margin-bottom: 1%;"></label>
				<div class="container-login100-form-btn" style="margin-top: 2%; margin-bottom: 2%;">
					<button class="login100-form-btn" id="bouton" disabled="true" ng-click="ModifierMotDePasse()">Modifier le mot de passe</button>
                </div>
				<div class="text-center">
					<a href="/" class="txt2 hov1">Login</a>
				</div>
			</form>
		</div>
	</div>
	<script src="../assets/js/angular.min.js"></script>
	<script src="../frontOffice/motDePasseOublier.js"></script>
</body>
</html>