<div ng-controller="payementController" class="divControlleur">
	<div class="container">
        
        <div class="modal" id="myModal">
            <div class="modal-content">
                <div class="divheaderModal">
                    <h3>Message</h3>
                </div>
                <div class="diveBodyModal">
                    <h4>{{messageModale}}</h4>
                </div>
                <div class="divfooterModal">
                    <button class="boutonCloseModal" ng-click="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container divContainer">
        <div>
            <h1 style="text-align: center;">Payement</h1>
        </div>
        <div>
            <div class="form-group">
                <label>Commande</label>
                <select class="form-control" ng-model="commandeSelectionner" >
                    <option ng-repeat="commandeValiders in commandeValider" ng-click="changementdeCommande(commandeValiders.idCommande)" value="{{commandeValiders.idCommande}}" >{{commandeValiders.numeroCommande}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Montant</label>
                <input type="number" ng-model="montant" class="form-control" placeholder="Saisissez votre montant">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button ng-click="payement()" style="width: 100%;height: 40px; background-color: #428bca;border-color: #2d6ca2; border-radius: 8px;color:white;" >Payer</button>
            </div>
            <div class="col-md-6">
                <button ng-click="facture()" id="facture" disabled="true" style="width: 100%;height: 40px; background-color: #5cb85c;border-color: #419641; border-radius: 8px;color:white;" >Facture</button>            
            </div>
        </div>
        <div class="row" style="margin-top: 4%;">
            <div class="col-md-6"><h3 style="text-align: left;">Commande : {{commande}}</h3></div>
            <div class="col-md-6"><h3 style="text-align: right;">Etat : {{etat}}</h3></div>
        </div>
        <div class="row" style="margin-top: 4%;">
            <div class="col-md-6"><h3 style="text-align: left;">Montant déjà payé : {{montantPayer | currency : " "}} Ariary</h3></div>
            <div class="col-md-6"><h3 style="text-align: right;">Montant total : {{prixTotal | currency : " "}} Ariary</h3></div>
        </div>
        <div class="row" style="margin-top: 4%;">
            <div class="col-md-6"><h3 style="text-align: left;">Montant restent à payer : {{argentRestant | currency : " "}} Ariary</h3></div>
            <div class="col-md-6"><h3 style="text-align: right;">Reste montant clients : {{argentResteClient | currency : " "}} Ariary</h3></div>
        </div>
    </div>
</div>