<div ng-controller="platsDuJoursController" class="divControlleur">
	<div class="container">
        
        <div class="modal" id="myModal">
            <div class="modal-content">
                <div class="divheaderModal">
                    <h3>Message</h3>
                </div>
                <div class="diveBodyModal">
                    <h4>{{messageModale}}</h4>
                </div>
                <div class="divfooterModal">
                    <button class="boutonCloseModal" ng-click="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
	<div class="container divContainer">
		<h3 style="text-align: center;">Liste des plats du jours</h3>
		<div class="row" style="margin-bottom: 2%;margin-bottom: 1%;">
			<div class="col-md-2">
				<p>Liste des commandes</p>
			</div>
			<div class="col-md-6">
				<select style="background-color: transparent; border: 2px solid #d9d9d9; width: 100%;height: 35px;border-radius: 5px;" ng-model="commandeSelect" id="commandeSelect">
					<option ng-repeat="commandes in commandeActuel" value="{{commandes.numeroCommande}}" >{{commandes.numeroCommande}}</option>
				</select>
			</div>
			<div class="col-md-4">
				<input type="button" ng-click="definirCommeCommandeActuel()" style="width: 100%; height: 35px;background-color: #28a745;border-color: #28a745;color: white;border-radius: 4px;" value="Definir comme commande actuel" >
			</div>
		</div>
		<div class="row isotope-grid" style="border: 2px solid black;border-radius: 20px;padding-top: 1%;padding-bottom: 1%;">
			<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women" ng-repeat="produit in produits | limitTo:limiteProduit">
				<!-- Block2 -->
				<div class="block2">
					<div class="block2-pic hov-img0">
						<img src="../assets/images/img/{{produit.nomImage}}" style="height: 300px;border-radius: 10px;" alt="../assets/images/img/default.jpg">

						<a href="#" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
							Quick View
						</a>
					</div>

					<div class="block2-txt flex-w flex-t p-t-14">
						<div class="block2-txt-child1 flex-col-l ">
							<a href="#" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
								<h3> {{produit.nomProduit}} </h3>
							</a>
							<h5>{{produit.categorie}}</h5>
							<h6>Prix unitaire : {{produit.prixUnitaire | currency : " "}} Ariary</h6>
							<div class="row">
								<div class="col-md-6">
									<label>Quantite</label>
								</div>
								<div class="col-md-6">
									<select style="width: 100%;" id="nombre{{produit.idProduit}}">
										<option ng-repeat="nombres in nombre" ng-click="getTotal(produit.idProduit,nombres,produit.prixUnitaire)" value="{{nombres}}">{{nombres}}</option>
									</select>
								</div>
							</div>
							<h7 id="total{{produit.idProduit}}">Total : {{produit.prixUnitaire | currency : " "}} Ariary</h7>
							<button type="button" ng-click="ajouterDansLeCommande(produit.idProduit,produit.prixUnitaire)" class="btn btn-lg btn-success" style="width: 100%; margin: 2% auto;">Ajoutés au commande actuel</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="flex-c-m flex-w w-full p-t-45">
			<a href="#" ng-click="superieur()" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
				Superieur
			</a>
			<a href="#" ng-click="inferieur()" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
				Inferieur
			</a>
		</div>
	</div>
</div>