<style>
input{
	width: 100%;
	padding-left: 2%;
	border-radius: 12px;
	border: 2px solid #a3a4a4;
}
</style>
<div ng-controller="preparationController" class="divControlleur">
	<div class="container">
        
        <div class="modal" id="myModal">
            <div class="modal-content">
                <div class="divheaderModal">
                    <h3>Message</h3>
                </div>
                <div class="diveBodyModal">
                    <h4>{{messageModale}}</h4>
                </div>
                <div class="divfooterModal">
                    <button class="boutonCloseModal" ng-click="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
	<div class="container divContainer">
        <div>
            <h2 style="text-align: center;" >Préparation commande</h2>
        </div>
        <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
            <div class="col-md-12">
                <select style="width: 100%;height: 40px;border-radius: 8px;">
                    <option value="mespayement" >Prêt</option>
                    <option value="mespayement" >En cours de préparation</option>
                </select>
            </div>
        </div>
        <div class="row divrow">
            <table class="table table-striped table-hover table-radius" datatable="ng" dt-options="vm.dtOptions">
                <thead>
                    <tr>
                        <th><input type="text" ng-model="recherche.numeroCommande" placeholder="Commande" ></th>
                        <th><input type="text" ng-model="recherche.numeroTables" placeholder="Table" ></th>
                        <th><input type="text" ng-model="recherche.nombreDePlats" placeholder="Nombre de plats" ></th>
                        <th><input type="text" placeholder="Etat" disabled="true" ></th>
                        <th><input type="text" ng-model="recherche.datePreparation" placeholder="Date" ></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>Commande</th>
                        <th>Table</th>
                        <th>Nombre de plats</th>
                        <th>Etat</th>
                        <th>Date</th>
                        <th>Voir</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="preparation in preparations | filter:recherche ">
                        <td>{{preparation.numeroCommande}}</td>
                        <td>{{preparation.numeroTables}}</td>
                        <td>{{preparation.nombreDePlats}}</td>
                        <td>
                            <span ng-if="preparation.etatPreparation==1">
                                En cours
                            </span>
                            <span ng-if="preparation.etatPreparation==11">
                                Prêt
                            </span>
                        </td>
                        <td>{{preparation.datePreparation}}</td>
                        <td><button type="button" ng-click="voirDetail(preparation.idCommande)" class="btn btn-lg btn-info" style="color:white;">Voir</button></td>
                        <td><button type="button" ng-click="suppression(preparation.idPreparation)" class="btn btn-lg btn-danger" style="font-size: 25px;"><span class="zmdi zmdi-delete"></span></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>