<div ng-controller="headController" ng-include="url_head"></div>
<div ng-controller="detailCommandeCuisineController">
	<div class="container">
        <div class="modal" id="myModal">
            <div class="modal-content">
                <div class="divheaderModal">
                    <h3>Message</h3>
                </div>
                <div class="diveBodyModal">
                    <h4>{{messageModale}}</h4>
                </div>
                <div class="divfooterModal">
                    <button class="boutonCloseModal" ng-click="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
	<div class="container divContainer">
		<h1 style="text-align: center;">Liste des plats commandes</h1>
		<div style="font-size: 20px;">
			<div class="pull-left">Numero : {{dataTemporaire.numeroCommande}}</div>
			<div class="pull-right">Nombre : {{dataTemporaire.nombreDePlats}}</div>
		</div>
		<div class="row">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Image</th>
						<th>Produits</th>
						<th>Utilisateur</th>
						<th>Table</th>
						<th>Quantite</th>
						<th>Prix unitaire</th>
						<th>Total</th>
						<th>Dates</th>
						<th>Suffisant dans le stocke</th>
						<th ng-click="selectTout()" style="cursor: pointer;">Insuffisant</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="commandeParTables in commandeParTable">
						<td> <img src="../assets/images/img/{{commandeParTables.nomImage}}" style="width: 50px;height: 50px;" /></td>
						<td>{{commandeParTables.nomUtilisateur}}</td>
						<td>{{commandeParTables.nomProduit}}</td>
						<td>{{commandeParTables.numeroTables}}</td>
						<td>{{commandeParTables.nombreDeProduit}}</td>
						<td>{{commandeParTables.prixUnitaire | currency : " "}} Ariary</td>
						<td>{{commandeParTables.prixUnitaire * commandeParTables.nombreDeProduit | currency : " "}} Ariary</td>
						<td>{{commandeParTables.dateCommande}}</td>
						<td><input type="number" placeholder="Nombre" value="{{commandeParTables.nombreDeProduit}}" id="nombre{{commandeParTables.idProduit}}"></td>
						<td>
							<div class="checkbox">
				                <label>
				                    <input type="checkbox" id="check{{commandeParTables.idProduit}}" value="{{commandeParTables.idProduit}}">
				                </label>
				            </div>
            			</td>
					</tr>
				</tbody>
			</table>			
		</div>
		<div class="row">
			<div class="col-md-offset-8 col-md-4">
				<h3>Prix total : {{prixTotal | currency : " "}} Ariary</h3>
			</div>
		</div>
		<div class="row" style="margin-top: 1%;" ng-if="etat == 0">
			<div class="col-md-6"><button class="btn btn-lg btn-success" ng-click="insertionPreparation()" style="width: 100%;">Preparer</button></div>
			<div class="col-md-6"><button class="btn btn-lg btn-danger" ng-click="produitInsuffisant()" style="width: 100%;">Insuffissant</button></div>
		</div>
		<div class="row" style="margin-top: 1%;" ng-if="etat == 1">
			<div class="col-md-6"><button class="btn btn-lg btn-success" disabled="true" ng-click="insertionPreparation()" style="width: 100%;">Preparer</button></div>
			<div class="col-md-6"><button class="btn btn-lg btn-danger" disabled="true" style="width: 100%;">Insuffissant</button></div>
		</div>
	</div>
</div>