<div ng-controller="headController" ng-include="url_head"></div>
<div ng-controller="listePreparationCuisineController">
	<div class="container">
        <div class="modal" id="myModal">
            <div class="modal-content">
                <div class="divheaderModal">
                    <h3>Message</h3>
                </div>
                <div class="diveBodyModal">
                    <h4>{{messageModale}}</h4>
                </div>
                <div class="divfooterModal">
                    <button class="boutonCloseModal" ng-click="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
	<div class="container divContainer">
		<h1 style="text-align: center;">Liste des plats en cours de preparations</h1>
		<div>
			<table class="table table-striped table-hover table-radius">
			    <thead>
			    	<tr>
			    		<th><input type="text" ng-model="recherches.numeroCommande" placeholder="Commande" ></th>
			    		<th><input type="text" ng-model="recherches.numeroTables" placeholder="Table N°" ></th>
			    		<th><input type="text" ng-model="recherches.nombreDePlats" placeholder="Nombre de plats" ></th>
			    		<th><input type="text" ng-model="recherches.datePreparation" placeholder="Dates" ></th>
			    		<th></th>
			    		<th></th>
			    		<th></th>
			    		<th></th>
			    	</tr>
			        <tr>
			            <th>Commande</th>
			            <th>Table</th>
			            <th>nombre de plats</th>
			            <th>Dates</th>
			            <th>Detail</th>
			            <th>Prêt</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr ng-repeat="preparation in preparations | filter:recherches ">
			            <td>{{preparation.numeroCommande}}</td>
			            <td>{{preparation.numeroTables}}</td>
			            <td>{{preparation.nombreDePlats}}</td>
			            <td>{{preparation.datePreparation}}</td>
			            <td><button type="button" class="btn btn-lg btn-warning" ng-click="redirectionDetailCommande(preparation.idCommande)" style="color: white;">Voir</button></td>
			            <td><button type="button" ng-click="commandePret(preparation.idPreparation)" class="btn btn-lg btn-success">Prêt</button> </td>
			        </tr>
			    </tbody>
			</table>
		</div>
	</div>
</div>