<div ng-controller="headController" ng-include="url_head"></div>
<div ng-controller="listeCommandeCuisineController">
	<div class="container">
        <div class="modal" id="myModal">
            <div class="modal-content">
                <div class="divheaderModal">
                    <h3>Message</h3>
                </div>
                <div class="diveBodyModal">
                    <h4>{{messageModale}}</h4>
                </div>
                <div class="divfooterModal">
                    <button class="boutonCloseModal" ng-click="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
	<div class="container divContainer">
		<h1 style="text-align: center;">Liste des commande</h1>
		<div>
			<table class="table table-striped table-hover table-radius">
			    <thead>
			    	<tr>
			    		<th><input type="text" ng-model="recherches.numeroCommande" placeholder="Commande" ></th>
			    		<th><input type="text" ng-model="recherches.nomUtilisateur" placeholder="Nom utilisateur" ></th>
			    		<th><input type="text" ng-model="recherches.numeroTables" placeholder="Table" ></th>
			    		<th><input type="text" ng-model="recherches.dateCommande" placeholder="Dates" ></th>
			    		<th></th>
			    		<th></th>
			    		<th></th>
			    		<th></th>
			    	</tr>
			        <tr>
			            <th>Commande</th>
			            <th>Nom utilisateur</th>
			            <th>Table</th>
			            <th>Dates</th>
			            <th>Detail</th>
			            <th>Insuffisant</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr ng-repeat="commande in commandes | filter:recherches ">
			            <td>{{commande.numeroCommande}}</td>
			            <td>{{commande.nomUtilisateur}}</td>
			            <td>{{commande.numeroTables}}</td>
			            <td>{{commande.dateCommande}}</td>
			            <td><button type="button" class="btn btn-lg btn-warning" ng-click="redirectionDetailCommande(commande.idCommande)" style="color: white;">Voir</button></td>
			            <td>
			            	<span ng-if="commande.etatPreparation==0">
			            		<button type="button" ng-click="preparationCommande(commande)" class="btn btn-lg btn-success">Preparer</button>	
			            	</span>
			            	<span ng-if="commande.etatPreparation > 0">
			            		<button type="button" disabled="true" class="btn btn-lg btn-success">Preparer</button>	
			            	</span>
			            </td>
			        </tr>
			    </tbody>
			</table>
		</div>
	</div>
</div>