<style>
.boutonMenu {
	width: 100%;
	height: 45px;
	border: 2px solid;
	background-color: #7645a6;
	color: white;
	font-size: 20px;
}
.boutonMenu:hover {
	background-color: #1645a7;
}
.divrows {
	background-color: #7645a6;
	border-radius: 8px;
	padding: 1%;
}
</style>
<div class="container">
	<div class="row divrows">
		<div class="row" style="margin-bottom: 1%;">
			<div class="col-md-12"><a href="#" onclick="deconnexion()" ><button class="boutonMenu">Deconnexion</button></a></div>
		</div>
		<div class="row" >
			<div class="col-md-3"><a href="pageCuisine"><button class="boutonMenu">Commande</button></a></div>
			<div class="col-md-3"><a href="listePreparationCuisine"><button class="boutonMenu">Préparation</button></a></div>
			<div class="col-md-3"><a href="listeCommandePretCuisine"><button class="boutonMenu">Prés</button></a></div>
			<div class="col-md-3"><a href="platsCuisine"><button class="boutonMenu">Plats</button></a></div>
		</div>
	</div>
</div>
<script type="text/javascript">
	function deconnexion(){
		localStorage.clear();
		document.location.href='/indexCuisine';
	}
</script>