<div ng-controller="headController" ng-include="url_head"></div>
<div ng-controller="platsCuisineController">
	<div class="container">
        <div class="modal" id="myModal">
            <div class="modal-content">
                <div class="divheaderModal">
                    <h3>Message</h3>
                </div>
                <div class="diveBodyModal">
                    <h4>{{messageModale}}</h4>
                </div>
                <div class="divfooterModal">
                    <button class="boutonCloseModal" ng-click="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
	<div class="container divContainer">
		<h1 style="text-align: center;">Liste des plats</h1>
		<div class="row">
			<table class="table table-striped">
				<thead>
					<tr>
						<th></th>
						<th><input type="text" ng-model="recherches.nomProduit" placeholder="Produits" ></th>
			    		<th><input type="text" ng-model="recherches.categorie" placeholder="Catégorie" ></th>
			    		<th><input type="text" ng-model="recherches.prixUnitaire" placeholder="Prix unitaire" ></th>
			    		<th><input type="text" ng-model="recherches.quantite" placeholder="Quantite" ></th>
			    		<th><input type="text" ng-model="recherches.descriptions" placeholder="Description" ></th>
			    		<th></th>
					<tr>
						<th>Image</th>
						<th>Produits</th>
						<th>Catégorie</th>
						<th>Prix unitaire</th>
						<th>Quantite</th>
						<th>Description</th>
						<th>Modifier</th>
						<th>Actualiser</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="platsTemporaire in plats | filter:recherches">
						<td> <img src="../assets/images/img/{{platsTemporaire.nomImage}}" style="width: 50px;height: 50px;" /></td>
						<td>{{platsTemporaire.nomProduit}}</td>
						<td>{{platsTemporaire.categorie}}</td>
						<td>{{platsTemporaire.prixUnitaire | currency : " "}} Ariary</td>
						<td><input type="number" placeholder="Quantite dans le stocke" id="quantite{{platsTemporaire.idProduit}}" value="{{platsTemporaire.quantite}}"></td>
						<td><textarea class="form-control" placeholder="Description" id="description{{platsTemporaire.idProduit}}" value="{{platsTemporaire.descriptions}}" rows="1"></textarea></td>
						<td><button type="button" class="btn btn-lg btn-warning" ng-click="modificationQuanitePlats(platsTemporaire)">Modifier</button></td>
						<td><button type="button" class="btn btn-lg btn-info" ng-click="actualiserLaColone(platsTemporaire)">Rafraichier</button></td>
					</tr>
				</tbody>
			</table>			
		</div>
	</div>
</div>