<div ng-controller="headController" ng-include="url_head"></div>
<div ng-controller="ajoutUtilisateurBackController" class="divControlleur">
	<div class="container">
        <div class="modal" id="myModal">
            <div class="modal-content">
                <div class="divheaderModal">
                    <h3>Message</h3>
                </div>
                <div class="diveBodyModal">
                    <h4>{{messageModale}}</h4>
                </div>
                <div class="divfooterModal">
                    <button class="boutonCloseModal" ng-click="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
	<div class="container divContainer">
		<div style="width: 50%;margin: auto;">
			<h1 style="text-align: center;">Inscription</h1>
			<div style="width: 96%;margin: 2%;">
				<p style="margin-left: 1%;">Nom d'utilisateur</p>
				<input type="text" ng-model="nom" class="form-control" placeholder="Nom d'utilisation" style="border: 2px solid #30ca9f;border-radius: 8px;" />
			</div>
               
             <div style="width: 96%;margin: 2%;">
             	<p style="margin-left: 1%;">Poste </p>
                 <select class="form-control" ng-model="etatUtilisateur" style="border: 2px solid #30ca9f;border-radius: 8px;">
                     <option value="1">Serveur/Serveuse</option>
                     <option value="2" >Caissier/Caissiere</option>
                     <option value="3">Administrateur</option>
                 </select>
			</div>
               
			<div style="width: 96%;margin: 2%;">
				<p style="margin-left: 1%;">Mot de passe</p>
				<input type="password" class="form-control" ng-model="motDePasse" oninput="verificationPassword()" placeholder="Mot de passe" id="password" style="border: 2px solid #30ca9f;border-radius: 8px;">
			</div>
			<div style="width: 96%;margin: 2%;">
				<p style="margin-left: 1%;">Confirmation mot de passe</p>
                <input type="password"  class="form-control" ng-model="confirmation" oninput="confirmationPassword()" id="confirmation" placeholder="Confirmation mot de passe" style="border: 2px solid #30ca9f;border-radius: 8px;">
			</div>
			<div style="width: 96%;margin: 2%;">
				<label style="text-align: center;font-size: 10px;" id="textValidation">Le mot de passe doit comporté aux moins une lettre minuscule,majuscule,chiffre et une caractére spéciaux</label>
				<label id="textConfirmation" style="text-align: center;font-size: 10px;"></label>
			</div>
			<div style="width: 96%;margin: 2%;">
				<button id="bouton" style="width: 100%;" class="btn btn-lg btn-success" disabled="true" ng-click="inscription()" >S'inscrir</button>
			</div>
		</div>
	</div>
</div>