<div ng-controller="headController" ng-include="url_head"></div>
<div ng-controller="factureBackController" class="divControlleur">
	<div class="container">
        <div class="modal" id="myModal">
            <div class="modal-content">
                <div class="divheaderModal">
                    <h3>Message</h3>
                </div>
                <div class="diveBodyModal">
                    <h4>{{messageModale}}</h4>
                </div>
                <div class="divfooterModal">
                    <button class="boutonCloseModal" ng-click="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container divContainer">
        <div>
            <h1 style="text-align: center;">Restaurant</h1>
        </div>
        <div>
            <h3 style="text-align: center;">Facture {{valeur2}}</h3>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5 style="text-align: left;">Commande N° : {{commande}}</h5>
            </div>
            <div class="col-md-6">
                <h5 style="text-align: right;" ng-if="valeur2=='commande'">{{datesCommande}}</h5>
                <h5 style="text-align: right;" ng-if="valeur2=='Payement'">{{date}}</h5>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-offset-1 col-md-3" style="text-align: left;">Nom</div>
            <div class="col-md-1" style="text-align: center;">Quantite</div>
            <div class="col-md-2" style="text-align: center;">Total en Ariary</div>
        </div>
        <div class="row" ng-repeat="platsCommandes in platsCommande">
            <div class="col-md-offset-1 col-md-3">{{platsCommandes.nomProduit}}</div>
            <div class="col-md-1" style="text-align: center;">{{platsCommandes.nombreDeProduit}}</div>
            <div class="col-md-2" style="text-align: center;">{{platsCommandes.prixUnitaire * platsCommandes.nombreDeProduit | currency : " "}}</div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <h3 style="text-align: left;" >Prix total : {{ prixTotal | currency : " "}} Ariary</h3>
            </div>
            <div class="col-md-6" ng-if="valeur2=='Payement'">
                <h3 style="text-align: right;" >Montant restant clients : {{ argentResteClient | currency : " "}} Ariary</h3>
            </div>
        </div>
        <hr>
        <div>
            <button style="width: 100%;height: 40px; background-color: #5cb85c;border-color: #419641; border-radius: 8px;color:white;" >Imprimer</button>     
        </div>
    </div>
</div>