<style>
input{
	width: 100%;
	padding-left: 2%;
	border-radius: 12px;
	border: 2px solid #a3a4a4;
}
</style>
<div ng-controller="headController" ng-include="url_head"></div>
<div ng-controller="listePayementBackController" class="divControlleur">
	<div class="container">
        <div class="modal" id="myModal">
            <div class="modal-content">
                <div class="divheaderModal">
                    <h3>Message</h3>
                </div>
                <div class="diveBodyModal">
                    <h4>{{messageModale}}</h4>
                </div>
                <div class="divfooterModal">
                    <button class="boutonCloseModal" ng-click="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
	<div class="container divContainer">
        <div>
            <h2 style="text-align: center;" >Liste des payements</h2>
        </div>
        <div class="row" style="margin-top: 2%;margin-bottom: 1%;">
            <div class="col-md-12">
                <select style="width: 100%;height: 40px;border-radius: 8px;" ng-model="selectionEtat.etatPayement">
                    <option value="11" >Payé</option>
                    <option value="1" >Non payé</option>
                    <option value="22" >Supprimer par la caisse</option>
                    <option value="" >Tous les payements</option>
                </select>
            </div>
        </div>
        <div class="row divrow">
            <table class="table table-hover table-radius  " datatable="ng" dt-options="vm.dtOptions">
                <thead>
                    <tr>
                        <th><input type="text" ng-model="recherche.idCommande" placeholder="Commande" ></th>
                        <th><input type="text" ng-model="recherche.montantTotal" placeholder="Montant total" ></th>
                        <th><input type="text" ng-model="recherche.etatPayement" placeholder="Payé ou non payé" ></th>
                        <th><input type="text" ng-model="recherche.datePayement" placeholder="Dates de payement" ></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>Commande</th>
                        <th>Montant total</th>
                        <th>Etat</th>
                        <th>Dates de payement</th>
                        <th>Detail</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="payement in payements | filter:recherche | filter:selectionEtat">
                        <td>{{payement.idCommande}}</td>
                        <td>{{payement.montantTotal | currency : " "}} Ariary</td>
                        <td>
                            <span ng-if="payement.etatPayement==1">
                                Non payé
                            </span>
                            <span ng-if="payement.etatPayement==11">
                                Payé
                            </span>
                            <span ng-if="payement.etatPayement==22">
                                Supprimer par la caisse
                            </span>
                        </td>
                        <td>{{payement.datePayement}}</td>
                        <td><button type="button" ng-click="voirDetail(payement.idPayement)" class="btn btn-lg btn-purple" style="background-color: #5a357f;font-size: 25px;color: white; border: 2px solid #7947aa"><span class="zmdi zmdi-eye"></span></button></td>
                        <td><button type="button" ng-click="suppression(payement.idPayement)" class="btn btn-lg btn-danger" style="font-size: 25px;"><span class="zmdi zmdi-delete"></span></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>