<style>
input{
	width: 100%;
	padding-left: 2%;
	border-radius: 12px;
	border: 2px solid #a3a4a4;
}
</style>
<div ng-controller="headController" ng-include="url_head"></div>

<div ng-controller="listeUtilisateurBackController" class="divControlleur">
	<div class="container">
        <div class="modal" id="myModal">
            <div class="modal-content">
                <div class="divheaderModal">
                    <h3>Message</h3>
                </div>
                <div class="diveBodyModal">
                    <h4>{{messageModale}}</h4>
                </div>
                <div class="divfooterModal">
                    <button class="boutonCloseModal" ng-click="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
	<div class="container divContainer">
		<h1 style="text-align: center; margin-bottom: 2%;color: #5640a4;">Liste des utilisateurs</h1>
		<div class="row">
			<div class="col-md-12">
				<select class="form-group" ng-model="selectionEtat.etatUtilisateur" style="width: 100%;height: 40px;border-radius: 12px;">
					<option value="2">Caissier/Caissiere</option>
					<option value="1">Serveur/Serveuse</option>
					<option value="3">Administrateur</option>
					<option value="">Tous</option>
				</select>
			</div>
		</div>
		<div class="row divrow">
			<table class="table table-hover table-bordered " datatable="ng" dt-options="vm.dtOptions">
			    <thead class="active">
			    	<tr>
			            <th><input type="text" ng-model="recherches.nomUtilisateur" placeholder="Recherche nom"></th>
			            <th><input type="text" ng-model="recherches.etatUtilisateur" placeholder="1 serveur / 2 caissier / 3 administrateur"></th>
			            <th><input type="text" ng-model="recherches.dateAjout" placeholder="Recherche par date"></th>
			            <th></th>
			        </tr>
			        <tr>
			            <th>Nom</th>
			            <th>Poste</th>
			            <th>date d'ajout</th>
			            <th>Supprimer</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr ng-repeat="utilisateur in utilisateurs | filter:recherches | filter:selectionEtat">
			            <td>{{utilisateur.nomUtilisateur}}</td>
			            <td>
			            	<span ng-if="utilisateur.etatUtilisateur==1">
			            		Serveur/Serveuse
			            	</span>
			            	<span ng-if="utilisateur.etatUtilisateur==2">
			            		Caissier/Caissiere
			            	</span>
			            	<span ng-if="utilisateur.etatUtilisateur==3">
			            		Administrateur
			            	</span>
			            </td>
			            <td>{{utilisateur.dateAjout}}</td>
			            <td><button type="button"  ng-click="deleteUtilisateur(utilisateur.idUtilisateur)" class="btn btn-lg btn-danger" style="font-size: 25px;"><span>Supprimer</span>&nbsp;<span class="zmdi zmdi-delete"></span></button></td>
			        </tr>
			    </tbody>
			</table>

			
		</div>
	</div>
</div>