<style>
input{
	width: 100%;
	padding-left: 2%;
	border-radius: 12px;
	border: 2px solid #a3a4a4;
}
</style>
<div ng-controller="headController" ng-include="url_head"></div>
<div ng-controller="listeCommandeBackController" class="divControlleur">
	<div class="container">
        <div class="modal" id="myModal">
            <div class="modal-content">
                <div class="divheaderModal">
                    <h3>Message</h3>
                </div>
                <div class="diveBodyModal">
                    <h4>{{messageModale}}</h4>
                </div>
                <div class="divfooterModal">
                    <button class="boutonCloseModal" ng-click="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
	<div class="container divContainer">
		<h1 style="text-align: center;margin-bottom: 2%;">Liste des commandes</h1>
		<div class="row">
			<div class="col-md-12">
				<select class="form-group" ng-model="selectionEtat.etatCommande" style="width: 100%;height: 40px;border-radius: 12px;">
					<option value="22">Payé</option>
					<option value="11">Validé</option>
					<option value="1">Non validé</option>
					<option value="33">Annulé</option>
					<option value="44">Payé et supprimé par la caisse</option>
					<option value="">Tous</option>
				</select>
			</div>
		</div>
		<div class="row divrow">
			<table class="table table-hover table-radius " datatable="ng" dt-options="vm.dtOptions">
			    <thead>
			    	<tr>
			    		<th><input type="text" ng-model="recherches.numeroCommande" placeholder="Commande" ></th>
			    		<th><input type="text" ng-model="recherches.nomUtilisateur" placeholder="Nom utilisateur" ></th>
			    		<th><input type="text" ng-model="recherches.numeroTables" placeholder="Table" ></th>
			    		<th><input type="text" ng-model="recherches.etatCommande" placeholder="Etat" ></th>
			    		<th><input type="text" ng-model="recherches.dateCommande" placeholder="Date" ></th>
			    		<th></th>
			    		<th></th>
			    	</tr>
			        <tr style="cursor: pointer;">
			            <th>Commande</th>
			            <th>Nom utilisateur</th>
			            <th>Table</th>
			            <th>Etat</th>
			            <th>Dates</th>
			            <th>Detail</th>
			            <th>Supprimer</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr ng-repeat="commande in commandes | filter:recherches | filter:selectionEtat">
			            <td>{{commande.numeroCommande}}</td>
			            <td>{{commande.nomUtilisateur}}</td>
			            <td>{{commande.numeroTables}}</td>
			            <td>
			            	<span ng-if="commande.etatCommande==1">
			            		Non validé
			            	</span>
			            	<span ng-if="commande.etatCommande==11">
			            		validé
			            	</span>
			            	<span ng-if="commande.etatCommande==22">
			            		Payé
			            	</span>
			            	<span ng-if="commande.etatCommande==33">
			            		Annulé
			            	</span>
			            	<span ng-if="commande.etatCommande==44">
			            		Payé et supprimé
			            	</span>
			            </td>
			            <td>{{commande.dateCommande}}</td>
					    <td><button type="button" ng-click="redirectionDetail(commande.idCommande)" class="btn btn-lg btn-purple" style="background-color: #5a357f;font-size: 25px;color: white; border: 2px solid #7947aa"><span class="zmdi zmdi-eye"></span></button></td>
			            <td><button type="button" ng-click="deleteCommande(commande.idCommande)" class="btn btn-lg btn-danger" style="font-size: 25px;"><span class="zmdi zmdi-delete"></span></button></td>
			        </tr>
			    </tbody>
			</table>
		</div>
	</div>
</div>