<div ng-controller="headController">
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<div class="wrap-menu-desktop">
				<nav class="limiter-menu-desktop container">
					
					<!-- Logo desktop -->		
					<a href="#" class="logo">
						<img src="../assets/images/logo2.png" alt="IMG-LOGO">
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li>
								<a href="#">Utilisateur</a>
								<ul class="sub-menu">
                                   	<li><a href="ajoutUtilisateurBack">Ajouter</a></li>
                                   	<li><a href="pageBackOffice">Liste</a></li>
								</ul>
							</li>
                            <li>
								<a href="#">Liste</a>
								<ul class="sub-menu">
									<li><a href="listeCommandeBack">Commande</a></li>
                                    <li><a href="listeFactureBack">Facture</a></li>
                                    <li><a href="listePayementBack">Payement</a></li>
								</ul>
							</li>
							<li><a href="#" ng-click="tableauStatistique()">Tableau statistique</a></li>
							<li><a href="index.html">Mon compte</a></li>
						</ul>
					</div>	

					<!-- Icon header -->
					<div class="wrap-icon-header flex-w flex-r-m">		
						<a href="#" onclick="deconnexion()" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
							<i class="zmdi zmdi-power"></i>
						</a>
					</div>
				</nav>
			</div>	
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->		
			<div class="logo-mobile">
				<a href="index.html"><img src="../assets/images/logo2.png" alt="IMG-LOGO"></a>
			</div>
			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>


		<!-- Menu Mobile -->
		<div class="menu-mobile">		
			<ul class="main-menu-m">
				<li>
					<a href="/">Utilisateur</a>
				</li>
	
				<li>
					<a href="payement">Ajout utilisateur</a>
				</li>
	
				<li>
					<a href="platsDuJours">Commande</a>
				</li>
	
				<li>
					<a href="blog.html">Payement</a>
				</li>
	
				<li>
					<a href="loginBackOffice">Facture</a>
				</li>
				
				<li>
					<a href="contact.html">Tableau statistique</a>
				</li>
					
				<li>
					<a href="contact.html">Contact</a>
				</li>
			</ul>
		</div>
	</header>
	
</div>
