<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../assets/vendor/bootstrap/css/bootstrap.min.css">
	<title>Tableau statistique</title>
</head>
<style>
select {
	width: 100%;
	height: 30px;
}
.bouton {
	width: 100%;
	height: 40px;
	font-size: 20px;
	background: transparent;
	border: 2px solid #106cba;
	color: black;
	border-radius: 20px;
	transition: 0.5s;
}
.bouton:hover {
	font-size: 19px;
	background: #106cba;
	border: 2px solid #106cba;
	color: white;
}
.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    border: 1px solid #888;
    width: 40%;
    height: 30%;
    border-radius: 12px;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.divheaderModal {
    background-color: #3477b1;
    color: white;
    text-align: center;
    height: 15%;
}
.diveBodyModal {
    height: 70%;
    padding: 2%;
    text-align: center;
}
.divfooterModal {
    height: 15%;
    background-color: #3477b1;
}
.boutonCloseModal {
    width: 98%;
    margin: 1%;
    background-color: #3477b1;
    color: white;
    border: 2px solid #3477b1;
}
</style>
<body ng-app="app" ng-controller="statistiqueBackControllers" style="background: -moz-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));">
	<header>
		<button style="width: 100%;height: 50px;color: white;font-size: 30px;margin-bottom: 3%;background-image: linear-gradient(to bottom, #428bca 0%, #2d6ca2 100%);" ng-click="retour()">Retour</button>		
	</header>
	<div class="container">
        <div class="modal" id="myModal">
            <div class="modal-content">
                <div class="divheaderModal">
                    <h3>Message</h3>
                </div>
                <div class="diveBodyModal">
                    <h4>{{messageModale}}</h4>
                </div>
                <div class="divfooterModal">
                    <button class="boutonCloseModal" ng-click="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
			        <label for="inputPassword" class="col-md-12 control-label">Type de tableau</label>
			        <div class="col-sm-20">
			        	<select class="form-control">
		                     <option ng-repeat="typeTableauStatistique in typeTableauStatistiques" ng-click="changerTableau(typeTableauStatistique.name)" >{{typeTableauStatistique.name}}</option>
		                 </select>
			        </div>
			    </div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
			        <label for="inputPassword" class="col-md-12 control-label">Type de classement</label>
			        <div class="col-sm-20">
		                 <select class="form-control" ng-model='typeDeClassement'>
							<option value="Payement">Payement</option>
							<option value="Commande">Commande</option>
							<option value="Plats">Plats</option>
						</select>
			        </div>
			    </div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
			        <label for="inputPassword" class="col-md-12 control-label">Classer par</label>
					<select class="form-control" ng-model='classement'>
						<option ng-repeat="classementTableau in classementTableaus" ng-click="classementpar(classementTableau.name)" >{{classementTableau.name}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
			        <label for="inputPassword" class="col-md-12 control-label">Années</label>
					<select class="form-control" ng-model='annee'>
						<option ng-repeat="annees in annees">{{annees}}</option>
					</select>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
			        <label for="inputPassword" class="col-md-12 control-label">Mois</label>
					<select class="form-control" ng-model='mois'>
						<option ng-repeat="x in [].constructor(12) track by $index ">{{$index+1}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<button class="bouton" ng-click="validerTableauStatistique()">Valider</button>
			</div>
		</div>
		<div class="row" style="color: #6d0d0d;background-color: white;padding: 1%;border-radius: 12px;width: 100%;margin: auto;margin-top: auto;margin-bottom: auto;margin-top: 1%;margin-bottom: 1%;">
			<div class="col-md-3"><p>Tableau : {{tableau }}</p></div>
			<div class="col-md-3"><p>Classement : {{typeDeClassement }}</p></div>
			<div class="col-md-2"><p>Par : {{classement }}</p></div>
			<div class="col-md-2"><p>année : {{annee }}</p></div>
			<div class="col-md-2"><p>mois : {{mois }}</p></div>
		</div>
		<div id="chartContainer" style="height: 370px;width: 100%;"></div>
	</div>
	<script src="../assets/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="../assets/js/angular.min.js"></script>
	<script src="../assets/js/angular-route.min.js"></script>
	<script src="../assets/js/canvasjs.min.js"></script>
	<script src="../backOffice/statistiqueBack.js"></script>
</body>
</html>